<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class="mainPage">
  <div style="width:100%">
    <img class="logo" src="assets/imgs/logo-proplan.png"/>
  </div>
  <form  (ngSubmit)="signin()" style="margin-top:30px">
    <h1 style="text-align:center;color:#005f86">Log In</h1>
    <ion-item class="rounded">
      <ion-label fixed class="formLabel">Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Your Username" required></ion-input>
    </ion-item>
    <ion-item class="rounded">
      <ion-label fixed class="formLabel">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Your Password" required></ion-input>
    </ion-item>
    <button ion-button class="button" type="submit" block>Sign Me In</button>
  </form>
  <button ion-button class="button" style="background-color:#009999" (click)="signup()" block>Register</button>
</ion-content>
