<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="mainPage">
  <form (ngSubmit)="signup()">
    <ion-item class="rounded">
      <ion-label style="color:#005f86;" fixed class="formLabel">Full Name</ion-label>
      <ion-input type="text" name="fullname" [(ngModel)]="fullname" placeholder="Your Full Name" required></ion-input>
    </ion-item>
    <ion-item class="rounded">
      <ion-label style="color:#005f86;" fixed class="formLabel">Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Your Username" required></ion-input>
    </ion-item>
    <ion-item class="rounded">
      <ion-label style="color:#005f86;" fixed class="formLabel">Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Your Email" required></ion-input>
    </ion-item>
    <ion-item class="rounded">
      <ion-label style="color:#005f86;" fixed class="formLabel">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Your Password" required></ion-input>
    </ion-item>
    <ion-item class="rounded">
      <ion-label style="color:#005f86;" fixed class="formLabel">Confirm Password</ion-label>
      <ion-input type="password" name="confirmationPassword" [(ngModel)]="confirmationPassword" placeholder="Repeat Your Password" required></ion-input>
    </ion-item>
    <button ion-button class="button" type="submit" block>Sign Me Up</button>
  </form>
</ion-content>
