<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{teamTitle}}'s Team</ion-title>
    <button ion-button end (click)="goToInvite()">
        <ion-icon name="person-add" menu-close></ion-icon>
      </button>
      <!-- <button ion-button end (click)="goToMember()">
        <ion-icon name="contacts" menu-close></ion-icon>
      </button> -->
  </ion-navbar>

</ion-header>


<ion-content padding color="light">
  <p>This is the Team page. Much alike to a user's Dashboard page, you can access Team Projects here.</p>
  <div *ngIf="team">
    <form [formGroup]="team">
        <ion-item>
          Team's Logo
        </ion-item>
        <ion-grid>
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col col-4>
                  <img [src]="sanitizeUrl(image)" width="110" height="100" (click)="changeImage()"/>
                </ion-col>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-12>
                      <ion-input type="text" formControlName="nameTeam"></ion-input>
                    </ion-col>
                    <ion-col col-12>
                      <ion-input type="text" formControlName="descriptionTeam"></ion-input>
                    </ion-col> 
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                If you want to change the image, click the image!
              </ion-row>
              <ion-row>
                <button ion-button (click)="updateTeamProfile()">Update Profile Team</button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-grid>
        <ion-item>
          Team's Member
        </ion-item>
        <ion-grid>
          <ion-card *ngFor="let dataMember of teamData.result.members">
            <ion-card-content>
              <ion-row>
                <ion-col col-8>
                  <ion-row>
                    <ion-col col-12>
                    </ion-col>
                    <ion-col col-12>
                      <h4>{{dataMember.fullname}}</h4>
                    </ion-col>
                    <ion-col col-12>
                      <h5>{{dataMember.email}}</h5>
                    </ion-col> 
                  </ion-row>
                </ion-col>
                <ion-col col-4>
                  <img [src]="sanitizeUrl(dataMember.profilePicture)" width="110" height="100"/>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-grid>
      </form>
    </div>
  <button ion-button class="button" block (click)="moveToProjects()">Team Projects</button>
</ion-content>
