<!--
  Generated template for the ProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu" menu-close></ion-icon>
    </button>
    <ion-title>{{project.name}}</ion-title>
    <button ion-button end (click)="goToInvite()">
      <ion-icon name="person-add" menu-close></ion-icon>
    </button>
    <!-- <button ion-button end (click)="goToMember()">
      <ion-icon name="contacts" menu-close></ion-icon>
    </button> -->
  </ion-navbar>

</ion-header>
<ion-content no-padding>
  <ion-grid>
    <ion-row no-padding *ngIf="project.lists.length != 0">
      <ion-col col-6 *ngFor="let l of project.lists" no-padding>
        <ion-card>
          <ion-toolbar color="light">
            <ion-label start (click)="moveToList(l)">{{l.name}}</ion-label>
            <ion-buttons end>
              <button ion-button icon-only primary small (click)="menuList(l)">
                <ion-icon name="menu"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-content (click)="moveToList(l)">
            <ion-scroll scrollY="true" style="height:100px !important">
              <h3 *ngIf="l.tasks.length == 0">No Tasks</h3>
              <h3 *ngFor="let t of l.tasks">{{t.name}}</h3>
            </ion-scroll>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row no-padding *ngIf="project.lists.length == 0">
        <h2>No List</h2>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab color="secondary" class="button" (click)="addList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>