<!--
  Generated template for the ViewMembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content no-padding color="light">
  <ion-item>
    <h2>Members List</h2>
  </ion-item>
  <ion-scroll scrollY="true" style="height:80%!important">
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
            <img src="assets/imgs/defppuser.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <button ion-button full (click)="dismissModal('param VM')">Close</button>
</ion-content>
