<!--
  Generated template for the InvitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu" menu-close></ion-icon>
          </button>
        <ion-title>Invite Member</ion-title>
      </ion-navbar>

  <ion-toolbar no-border-top color="secondary">
    <ion-searchbar style="background-color:#039ede" placeholder="Search by Email or Username..." (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding color="light">
  <!--<form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
            <ion-input type="text" name="txtSearch" required ngModel 
              placeholder="Search by Email or Username..." ></ion-input>
        </ion-col>
        <ion-col col-3>
          <button ion-button>
            <ion-icon name="search" (click)="search($event, f)"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>-->
      
    <ion-list id="resultList">
      <!-- generates check list from search result here -->
      <ion-item *ngFor="let result of searchResults; let i = index;">
        <ion-grid>
          <ion-row class="row parent">
            <ion-col col-3><img [src]="sanitizeUrl(result.profilePicture)" class="userProfile"/></ion-col>
            <ion-col col-6 class="child"><h3>{{result.username}}</h3></ion-col>
            <ion-col offset-6>
              <!-- <button ion-button (click)="invite(searchResults[i])">add</button> -->
              <button ion-button round style="width:5px" (click)="remove(searchResults[i])" color="danger" *ngIf="isAdded(searchResults[i])">
                <ion-icon name="remove-circle"></ion-icon> 
              </button>
              <button ion-button round style="width:5px" (click)="add(searchResults[i])" color="primary" *ngIf="!(isAdded(searchResults[i]))">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- generates name added to invite -->
    <!--<ion-list id="addedList">
      <p *ngIf="isNotEmpty()">Send Invitations to...</p>
      <ion-item *ngFor="let addedMember of addedMembers; let i = index;">
        <ion-grid>
          <ion-row>
            <ion-col col-6><h3>{{addedMember.}}</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>-->

    <ion-row>
      <ion-item no-lines>
        <p *ngIf="isNotEmpty()">Send Invitations to...</p>
        <ion-scroll scrollX="true">
          <ion-avatar *ngFor="let addedMember of addedMembers; let i = index;"
            name="radio-button-on"
            class="scroll-item selectable-icon">
            <img [src]="sanitizeUrl(addedMember.profilePicture)">
          </ion-avatar>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <button ion-button class="button" block type="submit" [disabled]="!(isNotEmpty())" (click)="inviteMembers()">Invite</button>  
  <!--</form>-->
</ion-content>
