page-invite {
    .row{
     //   height:20px;
        
    }
    .scroll-content{
        padding: 0px !important;
    }
    ion-row{
        .label {
            padding-top: 0px !important;
            margin-top: 0px !important;
         }
    }
    ion-scroll[scroll-avatar]{
        height: 40px;
    }
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 40px;
        overflow: hidden;
    
        .scroll-item {
          display: inline-block;
        }
    
        .selectable-icon{
          margin: 0px;
          color: red;
          font-size: 100px;
        }
    
        ion-avatar img{
          margin: 0px;
        }
      }

      .userProfile {
        margin: 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%
      }

      .parent {
        position: relative;
      }
      .child {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
      }

      .button{
        border-radius: 50px;
      }
}

