page-forgotpass {
    .rounded {
        background-color: #d6f4ff;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }

    .button{
        border-radius: 50px;
    }

    .mainPage{
        background-color: #d6f4ff;
    }

    .formLabel{
        color:#005f86;
    }
}
