<!--
  Generated template for the ForgotpassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding color="secondary">
  <form (ngSubmit)="forgotpw()">
    <ion-item class="rounded">
      <ion-label style="color:#005f86;" fixed class="formLabel" style="color:#005f86">Email</ion-label>
      <ion-input  type="email"
                  name="email"
                  [(ngModel)]="email"
                  placeholder="Your Email"
                  required>
      </ion-input>
    </ion-item>
    <button ion-button class="button" type="submit" block>Send E-mail</button>
  </form>
</ion-content>