<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Menu</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding color="secondary">
	<!-- <p>This will be the dashboard of the logged account. You can check your personal projects and your teams here.</p> -->
	<!-- <ion-tabs selectedIndex="0" tabsPlacement="top">
		<ion-tab tabIcon="person" [root]="projectsPage" tabBadge="3" tabBadgeStyle="danger" tabTitle="Personal"></ion-tab>
		<ion-tab tabIcon="people" [root]="teamsPage" tabBadge="3" tabBadgeStyle="danger" tabTitle="Team"></ion-tab>
	</ion-tabs> -->
	<ion-grid>
		<ion-row text-center>
			<ion-col offset-2>
				<button ion-button block (click)="moveToProjects()" class="box">
					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-icon class="gede" name="person"></ion-icon>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<p class="gede">Personal<br>Project</p>
							</ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</ion-col>
		</ion-row>
		<ion-row text-center>
			<ion-col offset-2>
				<button ion-button block (click)="moveToTeams()" class="box">
					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-icon class="gede" name="people"></ion-icon>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<p class="gede">Team<br>Project</p>
							</ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
