page-dashboard {
    .box{
       margin-top:25px;
       margin-bottom:25px;
       text-align:center;
       text-decoration: none;
       height:200px;
       width:200px;
    }
    .centerbro{
        margin:0 auto;
        text-align: center;
    }
    .gede{
        font-size:20px;
    }
}
