<!--
  Generated template for the ResetpassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding color="light">
  <form (ngSubmit)="resetpw()">
    <ion-item>
      <ion-label style="color:#005f86" fixed>Password</ion-label>
      <ion-input type="password" name="newpass" [(ngModel)]="newpass" placeholder="Your New Password" required></ion-input>
      <ion-input type="password" name="confirmpass" [(ngModel)]="confirmpass" placeholder="Confirm New Password" required></ion-input>
    </ion-item>
    <button ion-button class="button" type="submit" block>Reset Password</button>
  </form>
</ion-content>
