<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{list.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-card *ngFor="let t of list.tasks" (click)="moveToTask(t)">
        <ion-item>
            <div style="display: inline">
                <h2>{{t.name}}</h2>
                <p>{{t.dueDate}}</p>
            </div>
        </ion-item>
        <ion-row>
            <ion-col col-6>
                <ion-item icon-left clear small>
                    <ion-icon name="checkbox-outline"></ion-icon>
                    <span>{{t.finishedTaskCount}}/{{t.totalTaskCount}} done</span>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item icon-left clear small>
                    <ion-icon name="chatboxes"></ion-icon>
                    <span>{{t.commentCount}} comments</span>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-fab bottom right>
        <button ion-fab color="secondary" (click)="addTask()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>