<!--
  Generated template for the ExtendDeadlinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
  <div *ngIf="!isLeader()">
    <ion-item>
      <h2 style="display: inline !important;">Request Extend Deadline</h2>
      <button ion-button round style="float:right!important;" (click)="requestExtend()">Request</button>
    </ion-item>
    <ion-item>
      <ion-label>New Deadline</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="2018-01-17" [(ngModel)]="requestDate"></ion-datetime>
    </ion-item>
  </div>
  <div *ngIf="isLeader()">
    <ion-item>
      <h2 style="display: inline !important;">Extend Deadline</h2>
      <button ion-button round style="float:right!important;" (click)="extendDeadline()">Extend</button>
    </ion-item>
    <ion-item>
      <ion-label>New Deadline</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="2018-01-17" [(ngModel)]="extendDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <h2 style="display: inline !important;">Extend Requests</h2>
      <button ion-button round style="float:right!important;" (click)="checkAll()">Check All</button>
    </ion-item>
    <ion-scroll scrollY="true" style="height:60%!important;">
      <ion-item text-wrap style="padding:0px !important;" *ngFor="let r of requests">
        <ion-avatar item-start>
            <img src="assets/imgs/defppuser.png" width="10%">
        </ion-avatar>
        <h2>{{r.user.fullname}}</h2>
        <p>{{r.dueDate}}</p>
      </ion-item>
      
    </ion-scroll>
  </div>
  <button ion-button full (click)="dismissModal('param ED')">Close</button>
</ion-content>
