<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 offset-3>
        <img [src]="sanitizeUrl(image)" width="200" height="200" style="border-radius:50%;text-align:center;" (click)="changeImage()"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-2 col-8>
        If you want to change the image, click the image!
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="profile">
    <form [formGroup]="profile">
      <ion-grid>
        <ion-row>
          <ion-col col-4 offset-2>
            <ion-label style="color:#005f86">Name</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 offset-2>
            <ion-label style="color:#005f86">Username</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 offset-2>
            <ion-label style="color:#005f86">Email</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 offset-2>
            <ion-label style="color:#005f86">Description</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 offset-4>
            <button ion-button class="button" type="submit" [disabled]="!profile.valid" (click)="saveForm()" block>
              Save Changes
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
