<!--
  Generated template for the TeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu" menu-close></ion-icon>
    </button>
    <ion-title>{{user}}'s teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding color="light">
  <p>This is the teams page. You can see which Teams you are currently a part of and access their Team dashboards.</p>
  <button ion-button block *ngFor="let allTeam of team" (click)="moveToTeam(allTeam)">{{allTeam.name}}</button>
  <button ion-button block (click)="moveToCreateTeam()">Create New Team</button>
</ion-content>
