<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding color="secondary">
  <div *ngIf="changePassword">
    <form [formGroup]="changePassword">
      <ion-grid>
        <ion-row class="rounded">
          <ion-col col-6>
            <ion-label>Old Password</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-input type="password" formControlName="oldPassword"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="rounded">
          <ion-col col-6>
            <ion-label style="color:#005f86">New Password</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="rounded">
          <ion-col col-6>
            <ion-label style="color:#005f86">Confirm Password</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="rounded">
          <ion-col col-6 offset-4>
            <button ion-button class="button" type="submit" [disabled]="!changePassword.valid" (click)="changePasswordForm()">
              Save Changes
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
