<ion-menu [content]="sideMenuContent">
    <ion-header>
        <h3>&nbsp;&nbsp;&nbsp;Menu</h3>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="goToProfilePage()" *ngIf="isThisActive()">
                <ion-icon name="person" item-left></ion-icon>
                Profile
            </button>
        </ion-list>
        <ion-list>
            <button menuClose ion-item (click)="goToChangePasswordPage()" *ngIf="isThisActive()">
                <ion-icon name="key" item-left></ion-icon>
                Change Password
            </button>
        </ion-list>
        <!-- <ion-list>
            <button menuClose ion-item *ngIf="isThisActive()">
                <ion-icon name="contacts" item-left></ion-icon>
                Members
            </button>
        </ion-list>
        <ion-list>
            <button menuClose ion-item (click)="inviteNewMember()" *ngIf="isThisActive()">
                <ion-icon name="person-add" item-left></ion-icon>
                Invite
            </button>
        </ion-list> -->
        <ion-list>
            <button menuClose ion-item (click)="logout()" *ngIf="isThisActive()">
                <ion-icon name="log-out" item-left></ion-icon>
                Logout
            </button>
        </ion-list>
        <ion-list>
            <button menuClose ion-item (click)="signup()" *ngIf="!isThisActive()">
                <ion-icon name="log-in" item-left></ion-icon>
                Sign Up
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
