<!--
  Generated template for the ProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu" menu-close></ion-icon>
    </button>
    <ion-title>{{owner}}'s projects</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row no-padding *ngIf="projectList.length != 0">
      <ion-col col-12 *ngFor="let p of projectList" no-padding>
        <ion-card>
          <ion-toolbar color="primary">
            <ion-label (click)="moveToProject(p)"><h1>{{p.name}}</h1></ion-label>
            <ion-buttons end>
              <button ion-button icon-only primary large (click)="starProject(p)">
                <ion-icon name="star-outline" *ngIf="!isStarred(p)"></ion-icon>
                <ion-icon name="star" *ngIf="isStarred(p)"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-content (click)="moveToProject(p)">
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/imgs/logo-proplan.png" width="10%">
              </ion-avatar>
              <h2>Owner: {{p.ownerName}}</h2>
            </ion-item>
          </ion-card-content>
          <ion-segment>
              <ion-segment-button (click)="deleteProject(p)">
                <ion-icon name="trash"></ion-icon>
              </ion-segment-button>
              <ion-segment-button (click)="editProject(p)">
                  <ion-icon name="create"></ion-icon>
              </ion-segment-button>
          </ion-segment>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row no-padding *ngIf="projectList.length == 0">
      <h2>No Project</h2>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addProject()" *ngIf="teamId == 0"><ion-icon name="add"></ion-icon></button>
    <button ion-fab color="secondary" (click)="addProjectTeam()" *ngIf="teamId != 0"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
