page-projects {
    .scroll-content{
        padding: 0px !important;
    }
    ion-row{
        ion-label{
            margin-top: 3px !important;
            margin-bottom: 3px !important;
            padding: 0px !important;
        }
        ion-item{
            margin: 0px !important;
            padding: 0px !important;
            ion-avatar{
                padding: 0px !important;
                margin: 5px !important;
            }
        }
        ion-card{
            ion-segment{
                ion-icon{
                    zoom: 0.7 !important;
                }
            }
            ion-icon{
                zoom: 0.5 !important;
            }
            margin-left: auto !important;
            margin-right: auto !important;
            padding: 0px !important;
            width: 95% !important;
            ion-card-content{
                height: 14 px !important;
                margin: 0px !important;
                padding: 8px !important;
                p{
                    font-size: 10px !important;
                }
            }
        }
    }
    .button{
        border-radius: 50px;
    }
}
