<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{task.desc}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding color="light">
    <ion-card>
        <ion-item>
            <h2>{{task.name}}</h2>
            <p>in List: {{listName}}</p>
            <button ion-button clear item-end (click)="menuTask()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-item>

        <ion-card-content>
            <p color="light" class="taskDescription">{{task.desc}}</p>
        </ion-card-content>
        <ion-item *ngIf="isLeader()">
            <!-- <button ion-button clear icon-start small (click)="describeTask()">
                <ion-icon name="create"></ion-icon>
                Edit Description
            </button> -->
        </ion-item>

        <ion-item>
            <span item-left>
                <ion-datetime *ngIf="isLeader()"
                    displayFormat="D MMM YYYY, mm:ss"
                    [(ngModel)]="task.dueDate"
                    placeholder="Set Due Date"
                    (ionChange)="dueDateChanged(task.dueDate)"></ion-datetime>
                <h2 *ngIf="!isLeader()">{{dateTimeStr}}</h2>
            </span>
            <button ion-button icon-left clear item-end (click)="extendDeadline()">
                <ion-icon name="time"></ion-icon>
                    Extend
            </button>
        </ion-item>
        <ion-item>
            <h2>Checklists</h2>
        </ion-item>
        <ion-item *ngFor="let ch of task.checklists">
            <ion-label>{{ch.desc}}</ion-label>
            <ion-checkbox [(ngModel)]="ch.finished" (ionChange)="updateCheck(ch)"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label color="dark" stacked>New checklist</ion-label>
            <ion-input placeholder="Checklist name..." [(ngModel)]="inpChecklist">
            </ion-input>
            <button ion-button clear item-end large style="margin:0px !important; padding:0px !important; margin-top:10px !important;" (click)="addChecklist()">
        <ion-icon name="create"></ion-icon>
      </button>
        </ion-item>
        <ion-item>
            <h2>Comments ({{totalComments}})</h2>
            <ion-scroll scrollY="true" style="height:200px !important;">
                <ion-list>
                    <ion-item text-wrap style="padding:0px !important;" *ngFor="let co of task.comments">
                        <ion-avatar item-start>
                            <img [src]="sanitizeUrl(co.user.profilePicture)" width="10%">
                        </ion-avatar>
                        <h2>{{co.user.fullname}}
                            <ion-note style="float: right;">{{co.created_at}}</ion-note>
                        </h2>
                        <p>{{co.desc}}</p>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </ion-item>
        <ion-item>
            <ion-avatar item-start style="margin:auto !important; margin-right: 16px !important;">
                <img [src]="sanitizeUrl(currentProfile)" width="10%">
            </ion-avatar>
            <ion-label color="dark" stacked>Add a comment</ion-label>
            <ion-textarea placeholder="New comment..." [(ngModel)]="inpComment"></ion-textarea>
            <button ion-button icon-left clear item-end large style="margin:0px !important; padding:0px !important; margin-top:10px !important;" (click)="addComment()">
        <ion-icon name="create"></ion-icon>
      </button>
        </ion-item>
        <!--<ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-item>
      <p>This is the Task page. Here you can do most of the features offered, such as create checklists, upload resources, etc.</p>
      <p>{{task.desc}}</p>
      <p>{{task.checked}}</p>
      <p>{{task.deadline}}</p>
      <p>Here's the fun part. We can:</p>
      <p>add description</p>
      <p>add comments</p>
      <p>look at activities</p>
      <p>assign members</p>
      <p>create checklists</p>
      <p>add due date (or none as default)</p>
      <p>attach files</p>
      <p>move, copy, etc</p>
      <button ion-button block>Do stuff</button>
    </ion-item>-->
    </ion-card>
</ion-content>