page-task {
  .modal {
      padding: 30px;
      background: rgba(0,0,0,0.5);
  }
  .scroll-content{
      padding: 0px !important;
  }
    .taskDescription{
        color: #666666 !important;
        font-size: 10px !important;
    }
    ion-row{
        .label {
            padding-top: 0px !important;
            margin-top: 0px !important;
         }
    }
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 40px;
        overflow: hidden;
    
        .scroll-item {
          display: inline-block;
        }
    
        .selectable-icon{
          margin: 0px;
          color: red;
          font-size: 100px;
        }
    
        ion-avatar img{
          margin: 0px;
        }
      }
    
      ion-scroll[scroll-avatar]{
        height: 40px;
      }
    
      /* Hide ion-content scrollbar */
      ::-webkit-scrollbar{
        display:none;
      }
}
